{% extends 'customer_dash/customerdashboard.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:20px;">
    <div style="color:red;">
          name : {{buy_object.cart.product.name}}<br>
          brand : {{buy_object.cart.product.brand}}<br>
          description : {{buy_object.cart.product.description}}<br>
          total amount : {{buy_object.amount}}<br>

    </div>

<form method="POST" style="width:100%;">
    {% csrf_token %}
    {{data|crispy}}
    <button type="submit" class="btn btn-warning" style="color:red;width:200px;"><b>Pay</b></button>
</form>

</div>

{% endblock %}
