{% extends 'admin_dash/admindashboard.html' %}

{% block content %}

<form method="POST" style="width:100%;">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-control-label">Subject</label>
    <input required readonly value="{{feedback_object.subject}}" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-control-label">Feedback</label>
        <input required readonly value="{{feedback_object.feedback}}" class="form-control">
    </div>
     <div class="form-group">
        <label class="form-control-label">Reply</label>
        <input required name="reply" placeholder="Enter the reply" class="form-control">
     </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}
